name: Android CI


on:
push:
branches: [ main ]


jobs:
build:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4
- name: Set up JDK 11
uses: actions/setup-java@v4
with:
distribution: 'temurin'
java-version: '11'
- name: Download Android SDK
uses: android-actions/setup-android@v2
with:
api-level: 34
build-tools: "34.0.0"
- name: Grant execute for gradlew
run: chmod +x ./gradlew
- name: Build Debug APK
run: ./gradlew assembleDebug --no-daemon
- name: Upload debug APK
uses: actions/upload-artifact@v4
with:
name: app-debug-apk
path: app/build/outputs/apk/debug/app-debug.apk
